.home_page {
    .home_page_title {
        font-weight: 700;
        font-size: 22px;
        line-height: 16px;
        margin: 0;
        text-align: center;
        text-transform: capitalize;
        color: #222;
        margin-bottom: 40px;
    }
}